section{
    padding-top: 130px;
    @include adaptive('padding-top', 130, 40);
    padding-bottom: 30px;
    h2{
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 785px;
    }
    .wrap_section{
        padding: 0 10px;
        max-width: $width_wrap;
        margin: 0 auto;
    }
}
// Cервисы

.block_services{
    display: grid;
    padding-left: 0;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    list-style: none;
    max-width: 1363px;
    margin: 0 auto;
    margin-top: 110px;
    @include mobil_size{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
    @include adaptive('margin-top', 110 , 30 );
    h3{
        margin: 10px 0;
    }
    li{
        display: flex;
        min-height: 120px;
    }
    .img{
        background-color: $color_gen;
        border-radius: 40px 0 0 40px;
        display: flex;
        align-items: center;
        @include mobil_size{
            padding-left: 10px;
            background-color: $color_gen;
            border-radius: 40px 0 0 40px;
        }
        img{
            padding: 0 30px;
            width: 61px;
            height: 61px;
            @include mobil_size{
                display: none;
            }
        }
    }
    .content{
        background-color: rgba(243, 243, 243, 1);
        padding: 10px 10px 10px 40px;
    }
    .cap{
        padding-left: 10px;
        background-color: $color_gen;
        border-radius: 0 40px 40px 0;
    }
}


section.works{
    .wrap_section{
        display: flex;
        flex-flow: column nowrap;
        .but_more{
            margin: 0 auto;
            margin-top: 69px;
            @include adaptive('margin-top', 69 , 0 );
        }
    }
}

@media (min-width : #{$middleWidth}px ){
.block_works{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
    @include adaptive('gap', 20 , 15 );
    margin-top: 110px;
    @include adaptive('margin-top', 110 , 30 );

    div:first-child, div:last-child{
            max-width: 788px;
    }
    div:first-child{
        grid-column: 1/3;
    }
    div:last-child{
        grid-column: 3/-1;
    }
    div{
       
        max-width: 384px;
    }
    img{
        width: 100%;
        border-radius: $main_radios;
        @include adaptive('border-radius', 45 , 15 );
    }
}
}
@media (max-width : #{$middleWidth - 1}px ){
.block_works{
    gap: 20px;
    @include adaptive('gap', 20 , 15 );
    margin-top: 110px;
    @include adaptive('margin-top', 110 , 30 );

    div{
        margin-bottom: 5px;
    }
    img{
        border-radius: $main_radios;
        @include adaptive('border-radius', 45 , 15 );
    }
}
}




.fancybox__content img{
    border-radius: $main_radios;
    @include adaptive('border-radius', 45 , 15 );
}
.block_best{
    margin-top: 110px;
    @include adaptive('margin-top', 110 , 50 );
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .single{
        flex: 1 1 400px;
        max-width: 400px;
        @include mobil_size{
            max-width: 100%;
        }
        margin-bottom: 53px;
    }
    h4{
        margin-bottom: 19px;
    }
    .content{
        margin-left: 70px;
    }
    .num{
        display: table-cell;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        text-align: center;
        background-color:$button_who_hov;
        border-radius: 100%;
        font-size: 31px;
        line-height: 1.6;
        font-weight: 600;
        color: $text_h4;
        margin-right: 22px;
        float: left;
    }
}
.block_reviews{
    display: flex;
    margin-top: 72px;
    @include adaptive('margin-top', 72 , 50);
    flex-flow: row wrap;
    margin-bottom: 80px;
    .single-rev{
        flex: 1 1 400px;
        margin-left: 20px;
        @include mobil_size{
            margin-left: 0;
        }
        &:first-child{
            margin-left: 0;
        }
        h4{
            margin-top: 26px;
            @include adaptive('margin-top', 26 , 20);
        }
        span{
            margin-top: 15px;
            display: inline-block;
            width: 95%;
            text-align: right;
        }
        p{
            margin-top: 24px;
        }
        span{
            font-size: 16px;
            color: rgba(0, 0, 0, 0.6);
        }
        &>img{
            width: 100%;
            border-radius:$main_radios;
            @include adaptive('border-radius', 45 , 15 );
        }
        .client{
            display: flex;
            margin-top: 23px;
            @include adaptive('margin-top', 23 , 10);
            align-content: center;
            margin-bottom: 40px;
            img{
                margin-right: 15px;
            }
        }
    }
}
.partners{
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(30, 90, 93, 1);
    .wrap_section{
        padding-left: 42px;
        @media (max-width : 564px){
            padding-left: 10px;
            padding-top: 52px;
            padding-bottom: 115px;
        }
    }
    .top{
        height: 61px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 0px;
        @media (max-width : 564px){
            display: none;
        }
    }
    .bottom{
        height: 61px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        position: absolute;
        bottom: 0px;
        @media (max-width : 564px){
            display: none;
        }
    }
    .slide{
        display: flex;
        align-items:center;
        justify-content: flex-start;
        @media (max-width : 564px){
            flex-flow: column-reverse nowrap;
            padding-top: 21px;
            
        }
        
        img{
            max-width: 500px;
            @include adaptive('border-radius', 20 , 15 );
        }
        .content{
            max-width: 600px;
            margin-left: 10%;
            @media (max-width : 564px){
                margin-left: 0px;
            }
            h3{
                font-size: 48px;
                @include adaptiv-font(48, 25);
                color:rgba(255, 255, 255,1);
            }
            p{
                color:rgba(255, 255, 255,.8);
                margin-top: 18px;
                @media (max-width : 564px){
                    margin-bottom: 21px;
                }
            }
        }
    }
    .owl-nav{
        position: absolute;
        display: flex;
        justify-content: space-between;
        left:-32px;
        top: 45%;
        width: 564px;
        @media (max-width : 564px){
            display: none;
        }
    }
}
.team{
    .block_team{
        margin-top: 102px;
        @include adaptive('margin-top', 102 , 50);
    }
    .single{
        max-width: 361px;
        margin-right: 50px;
        @include mobil_size{
            margin-right: 25px;
        }
    }
    h4{
        margin-top: 32px;
    }
    p{
        margin-top: 8px;
    }
    .avatar{
        max-width: 361px;
        border-radius: $main_radios;
        @include adaptive('border-radius', 45 , 15 );
    }
}
// Блок как заказать
.haw_order{
    .wrap_section>img{
        @include mobil_size{
            display: none;
        }
    }
    text-align: center;
    h2{
        margin-bottom: 98px;
        @include mobil_size{
            margin-bottom: 45px;
        }
    }
    .block{
        display: flex;
        align-items: center;
        max-width: 800px;
        padding: 0 60px;
        margin: 50px auto;
        min-height: 250px;
        border-radius: $main_radios;
        @include adaptive('border-radius', 45 , 15 );
        box-shadow:0 0 66px rgba(0, 0, 0, 0.2) ;
        img{
            max-width: 130px;
            @include adaptive('max-width', 130 , 40);
        }
        @include mobil_size{
            flex-flow: column nowrap;
            padding: 0;
            margin: 0;
            box-shadow:none;
            min-height: 0;
        }
    }
    .content{
        text-align: left;
        padding-left: 10%;
        margin-top: 20px;
        margin-bottom: 20px;
        @include mobil_size{
            padding-left: 0;
            text-align: center;
            margin-top: 15px;
        }
        a{
            color: $text_h4;
            font-weight: 600;
            text-decoration: none;
        }
        h4{
            margin-bottom: 17px;
        }
        p{
            @include mobil_size{
                text-align: justify;
            }
        }
    }

}
.about_as{
    margin-bottom: 139px;
    @include adaptive('margin-bottom', 139, 123);
    .wrap_section{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    .content{
        max-width: 800px;
        flex: 2 2 400px;
    }
    h2{
        text-align: left;
        font-size: 39px;
        @include adaptiv-font(39, 32);
        display: inline-block;
        padding-bottom: 25px;
        @include mobil_size{
            margin-top: 25px;
        }
        
    }
    img{
        width: 100%;
        border-radius: $main_radios;
        @include adaptive('border-radius', 45 , 15 );
        margin-right: 40px;
        max-width: 600px;
        flex: 1 1 200px;
        @media (max-width : 1020px){
            width: 100%;
            max-width: 100%;
            margin-right: 0;
        }

    }
}
//Страница ГАЛЕРЕИ
.bread-crumbs{
    max-width: $width_wrap;
    margin: 0 auto;
    margin-top: 31px;
    margin-bottom: 55px;
    padding-left: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    a{
        color: rgba(0, 0, 0, 1);
        text-decoration: none;
    }
    
}
.gallery_section{
    padding-top: 0;
    h1{
        font-size: 39px;
        color: rgba(15, 50, 51, 0.8);
    }
    h2{
        text-align: left;
        margin-bottom: 17px;
        color: rgba(0, 0, 0, 0.7)
    }
    p{
        color:rgba(0, 0, 0, 0.8)
    }
    .main_screen{
        display: flex;
        margin-top: 70px;
        @include adaptive('margin-top', 70, 40);
        flex-flow: row wrap;
    }
    .wrap_miniature{
        width: 100px;
        margin-left: 20px;
        flex: 1 1 100px;
        @media (max-width : 640px){
            width: 100%;
            margin-left: 0;
        }
    }
    #miniature{
        @media (min-width : 640px){
            --f-carousel-slide-height: 23%;
            --f-carousel-spacing: 10px;
            height: 486px;
        }
        .f-carousel__slide{
            @media (max-width : 640px){
                width: calc(100% / 3);
                margin-right: 3px;
            }
        }
    }
    .images_block_works{
        flex: 4 4 400px;
        max-width: 790px;
        img{
            width: 100%;
        }
        .f-carousel-slide {
            width: 100%;
          }
    }

      .f-button svg{
        height: 37px;
        width: 37px;
        opacity: .6;
        stroke: none !important;
      }
    .discription{
        margin-left: 68px;
        flex: 4 4 400px;
        @media (max-width : 640px){
            margin-top: 25px;
            margin-left: 0;
        }
    }
}